[submodule "web/public/javascripts/ux/openlayers"]
	path = web/public/javascripts/ux/openlayers
	url = http://github.com/gina-alaska/extjs-openlayers.git
[submodule "web/public/javascripts/gina-map-layers"]
	path = web/public/javascripts/gina-map-layers
	url = http://github.com/gina-alaska/gina-map-layers.git
