.header
  %h1 Geologic Map Index Search Results
  %h2 
    Generated:
    = Time.now
.results
  - @publications.each do |publication|
    = render :partial => 'publication.html.haml', :locals => { :publication => publication } 
