.query
  - unless params[:themes].nil?
  %label Themes:
  %span = params[:themes].join(', ')
  
.results
  - @publications.each do |publication|
    = render :partial => 'publication.html.haml', :locals => { :publication => publication } 
