<!DOCTYPE html>
<html>
<head>
<title>Alaska Geologic Map Index</title>
<style>
  .header { text-align: center; }
  h1 { font-size: 20pt; margin: 0; }
  h2 { font-size: 12pt; margin-top: 0; }
  h3 { font-size: 12pt; margin-bottom: 0; margin-left: -15px; }
  body { font-size: 12pt; }
  .query { margin-left: 15px; margin-bottom: 15px; }
  .result { margin-bottom: 15px; }
  .title { font-size: 14pt; }
</style>
</head>
<body>
  <div class="header">
    <h1>DGGS :: Geologic Map Index Search Results</h2>
    <h2>Generated: <%= Time.now -%></h2>
  </div>
  <div class="content">  
    <%= yield %>
  </div>
</body>
</html>
