<!DOCTYPE html>
<html>
<head>
<title>Alaska Geologic Map Index</title>
<style>
  .header { text-align: center; }
  h1 { font-size: 20pt; margin-bottom: 0; }
  h2 { font-size: 16pt; }
  body { font-size: 12pt; }
  .result { margin-bottom: 15pt; }
  .title { font-size: 14pt; }
</style>
</head>
<body>
  <div class="header">
    <h1>Geologic Map Index Search Results</h1>
    <h2>Generated: <%= Time.now -%></h2>
  </div>
  <div class="content">  
    <%= yield %>
  </div>
</body>
</html>
