<!DOCTYPE html>
<html>
<head>
<title>Alaska Geologic Map Index</title>
<style>
  .header {
    text-align: center;
  }
  h1 {
    font-size: 20pt;
  }
  h2 {
    font-size: 16pt;
  }
  .result {
    margin-bottom: 14px;
  }
  .title {
    font-size: 12pt;
  }
  .keywords {
    font-size: 12pt;
  }
</style>
</head>
<body>
  <%= yield %>
</body>
</html>
