<!DOCTYPE html>
<html>
<head>
<title>Alaska Geologic Map Index</title>
<style>
  .header { text-align: center; }
  h1 { font-size: 20pt; }
  h2 { font-size: 16pt; }
  body { font-size: 12pt; }
  .result { margin-bottom: 15pt; }
  .title { font-size: 14pt; }
</style>
</head>
<body>
  <%= yield %>
</body>
</html>
