.x-panel-header {
  background: none;
  border: none;
  padding: 0;
  
  .x-panel-header-text {
    line-height: 24px;
    font-size: 20px;
	margin-top: 0;
  }
}

.x-btn-default-large {
  .x-btn-inner {
    font-size: 16px;
    font-weight: bold;
  }
}

.x-tree-panel .x-grid-row .x-grid-cell-inner img.noicon {
  display:none;
  background-image: none;
}

#viewport .x-layout-split-bottom {
	display:none;
}

body.bp {
  th, td {
    padding: 0;
  }
}