.all_sm_icon {
  background-image: url(/images/icons/all_sm.png);
}
.report_sm_icon {
  background-image: url(/images/icons/report_sm.png);
}
.maps_sm_icon {
  background-image: url(/images/icons/maps_sm.png);
}
.digital_data_sm_icon {
  background-image: url(/images/icons/digital_data_sm.png);
}
.link_go_sm_icon {
  background-image: url(/images/icons/link_go_sm.png);
}
.offline_sm_icon {
  background-image: url(/images/icons/offline_sm.png);
}

$active-tool-bg: #FF0;
$active-tool-border-color: red;
$inactive-tool-bg: #FFF;
$inactive-tool-border-color: white;

@mixin mapToolIcons($name, $icon, $iconOpts: '') {
  .#{$name}Active {
    background: url($icon) no-repeat #{$iconOpts};    
    @include border-radius(3px);
    border: 1px solid $active-tool-border-color;
    background-color: $active-tool-bg;
    background-color: transparentize($active-tool-bg, 0.25);  
  }
  .#{$name}Inactive {
    background: url($icon) no-repeat #{$iconOpts};    
    @include border-radius(3px);
    border: 1px solid $inactive-tool-border-color;
    background-color: $inactive-tool-bg;
    background-color: transparentize($inactive-tool-bg, 0.25);  
  }
}

.olControlPanel {
  @include mapToolIcons('olControlSelectFeatureItem', '/images/geo/pointer-info.png');
  @include mapToolIcons('olControlDrawFeatureItem', '/images/geo/shape_square_red.png', '5px 5px');
}