.all_sm_icon {
  background-image: url(/images/icons/all_sm.png);
}
.report_sm_icon {
  background-image: url(/images/icons/report_sm.png);
}
.maps_sm_icon {
  background-image: url(/images/icons/maps_sm.png);
}
.digital_data_sm_icon {
  background-image: url(/images/icons/digital_data_sm.png);
}
.link_go_sm_icon {
  background-image: url(/images/icons/link_go_sm.png);
}
.offline_sm_icon {
  background-image: url(/images/icons/offline_sm.png);
}

.olControlPanel {
  .olControlSelectFeatureItemActive {
    @include border-radius(2px);
    background: url(/images/geo/select.png) no-repeat 2px 2px;
    background-color: transparentize(#00F, 0.5);
  }
  .olControlSelectFeatureItemInactive {
    @include border-radius(2px);
    background: url(/images/geo/select.png) no-repeat 2px 2px;
    background-color: transparentize(#FFF, 0.5);
  }
}