div.olControlAttribution {
	bottom: 0em;
	right: 0em;
	padding: 3px;
	color: #000;
	background-color: #FFF;
	background-color: transparentize(#FFF, 0.25);
}

.olControlPanel {
  right: 20px;
  top: 0;
  
  div {
    display:block;
    float: right;
    width: 28px;
    height: 28px;
    margin: 5px;
    background-color: #fff;
  } 
}

.baseLayersDiv {
  white-space: nowrap;
}
.dataLayersDiv {
  white-space: nowrap;
}
