.noresults {
  font-size: 18px;
  text-align: center;
}

.result-wrap {
  padding: 10px 0 10px 0;
  font-size: 14px;
  width: 940px;
  display: block;

  .title {
    font-size: 16px;
    text-decoration: underline;
  }

  .keywordlist {
    font-size: 10px;
    font-style: italic;
  }

  .icons img {
    width: 35px;
    height: 35px;
    margin-left: 15px;
  }

  .body { 
	  clear: both; 
  }
  
  .checkbox {
    padding: 5px;
    top: -55px;
    width: 30px;
    position: relative;
    display: inline-block;
    margin: 0;

    input {
      vertical-align: middle;
    }
  }
  
  
  .result-content {
    margin: 0;
    padding: 0;
    width: 910px;
    display: inline-block;
  }
  
  .notes {
    font-style: italic;
  }

	&.x-item-over {
		background-color: transparentize(#000, 0.9);
	}

	&.x-item-selected {
		background-color: transparentize(#FF0, 0.5);
	}
}